[submodule "verif/riscv-arch-test"]
	path = verif/riscv-arch-test
	url = https://github.com/riscv-non-isa/riscv-arch-test
[submodule "openocd"]
	path = openocd
	url = https://github.com/riscv/riscv-openocd.git
